div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
tr,td, th {
    text-align: center;
    padding: 0 1rem;
    border: 1px solid black;
    border-collapse: collapse;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}