<html lang="html" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>
        Spring MVC Software
    </title>
    <link rel="stylesheet" th:href="@{/styles/userStyles.css}">
</head>
<body>

<div class="container">
    <h1>Details of the Users</h1>
    <table>
        <tr>
            <th>user ID</th>
            <th>Name</th>
            <th>E-mail</th>
        </tr>
        <tr th:each="user : ${userList}">
            <td th:text="${user.getId()}"></td>
            <td th:text="${user.getName()}"></td>
            <td th:text="${user.getEmail()}"></td>
        </tr>
    </table>
</div>

</body>
</html>